{{ ansible_managed | comment }}

for __rke2lab_dir in \
    "{{ _var_controller_runtime_pulumi_bin }}" \
    "{{ controller_runtime_venv | trim }}/bin" ; do
    case ":${PATH}:" in
        *":${__rke2lab_dir}:"*) ;;
        *) PATH="${__rke2lab_dir}:${PATH}" ; export PATH ;;
    esac
done
unset __rke2lab_dir

ANSIBLE_COLLECTIONS_PATH="{{ controller_runtime_collections_path | trim }}"
export ANSIBLE_COLLECTIONS_PATH
