export PROXMOX_VE_ENDPOINT=''
export PROXMOX_VE_USERNAME=''
export PROXMOX_VE_PASSWORD=''
export PROXMOX_VE_INSECURE='true'
export PULUMI_CONFIG_PASSPHRASE=''

export VM_USERNAME=''
export VM_USER_PASSWORD=''
export VM_SSH_PUBLIC_KEY=''

export WIREGUARD_CONTROLLER_PRIVATE_KEY=''
export WIREGUARD_REPO_PRIVATE_KEY=''

export FREEIPA_ADMIN_PASSWORD=''
export FREEIPA_DIR_MANAGER_PASSWORD=''

export GITLAB_ROOT_PASSWORD=''

export GITLAB_REGISTRY_USER=''
export GITLAB_REGISTRY_TOKEN=''

export RKE2_TOKEN=''

export KEYCLOAK_ADMIN_PASSWORD=''
export KEYCLOAK_DB_PASSWORD=''
export GRAFANA_ADMIN_PASSWORD=''
export GARAGE_ADMIN_TOKEN=''
export GARAGE_METRICS_TOKEN=''
export GARAGE_RPC_SECRET=''

export OIDC_CLIENT_SECRET_GRAFANA=''
export OIDC_CLIENT_SECRET_LONGHORN=''
export OIDC_CLIENT_SECRET_OPENBAO=''
export OIDC_CLIENT_SECRET_GITLAB=''

export OAUTH2_PROXY_COOKIE_SECRET=''

export GARAGE_S3_ACCESS_KEY=''
export GARAGE_S3_SECRET_KEY=''

export OPENBAO_UNSEAL_KEYS=''
export OPENBAO_ROOT_TOKEN=''
