{{ ansible_managed | comment }}

---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: garage-secrets
  namespace: garage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: openbao
    kind: ClusterSecretStore
  target:
    name: garage-secrets
  data:
    - secretKey: admin-token
      remoteRef:
        key: garage-cluster
        property: admin-token
    - secretKey: metrics-token
      remoteRef:
        key: garage-cluster
        property: metrics-token
    - secretKey: rpc-secret
      remoteRef:
        key: garage-cluster
        property: rpc-secret
