[Interface]
Address = {{ inventory_controller_wireguard_address }}
ListenPort = {{ inventory_controller_wireguard_listen_port }}
PrivateKey = {{ inventory_controller_wireguard_private_key | trim }}
{% for _item_controller_tunnel_subnet in inventory_controller_wireguard_route_subnets %}
PostUp = ip route replace {{ _item_controller_tunnel_subnet }} dev {{ inventory_controller_wireguard_interface }}
PostDown = ip route del {{ _item_controller_tunnel_subnet }} dev {{ inventory_controller_wireguard_interface }} || true
{% endfor %}

[Peer]
PublicKey = {{ controller_tunnel_gateway_public_key }}
AllowedIPs = {{ inventory_controller_wireguard_peer_allowed_ips | join(',') }}
Endpoint = {{ inventory_controller_wireguard_peer_endpoint }}
PersistentKeepalive = {{ inventory_controller_wireguard_peer_persistent_keepalive }}
