{{ ansible_managed | comment }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-oidc
  namespace: observability
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: openbao
    kind: ClusterSecretStore
  target:
    name: grafana-oidc
  data:
    - secretKey: client-secret
      remoteRef:
        key: oidc-grafana
        property: client-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-domain-ca
  namespace: observability
data:
  ca.crt: >-
    {{ lookup('file', gitops_source_domain_ca_file, rstrip=false) | b64encode }}
