Port: {{ inventory_apt_proxy_bind_port }}

BindAddress: {{ inventory_apt_proxy_bind_addresses | join(' ') }}

CacheDir: {{ inventory_apt_proxy_cache_dir }}
LogDir: {{ inventory_apt_proxy_log_dir }}

ExThreshold: {{ inventory_apt_proxy_expire_days }}

KeepExtraVersions: {{ inventory_apt_proxy_keep_extra_versions }}

ExAbortOnProblems: 0

PassThroughPattern: {{ inventory_apt_proxy_passthrough_pattern }}
