{{ ansible_managed | comment }}

token: {{ rke2_server_token }}
{% if not (rke2_server_bootstrap | bool) %}

server: https://{{ rke2_server_api_address }}:{{ rke2_server_supervisor_port }}
{% else %}

{% endif %}

node-ip: {{ rke2_server_node_ip }}

tls-san:
{% for _item_rke2_server_san in rke2_server_tls_san %}
  - {{ _item_rke2_server_san }}
{% endfor %}

cni: {{ rke2_server_cni }}

data-dir: {{ rke2_server_data_dir }}

{% if rke2_server_disable | length > 0 %}
disable:
{% for _item_rke2_server_component in rke2_server_disable %}
  - {{ _item_rke2_server_component }}
{% endfor %}
{% endif %}

{% if rke2_server_ingress_controller | length > 0 %}

ingress-controller:
{% for _item_rke2_server_controller in rke2_server_ingress_controller %}
  - {{ _item_rke2_server_controller }}
{% endfor %}
{% endif %}

{% if rke2_server_node_taints | length > 0 %}

node-taint:
{% for _item_rke2_server_taint in rke2_server_node_taints %}
  - {{ _item_rke2_server_taint }}
{% endfor %}
{% endif %}

disable-default-registry-endpoint: true

etcd-snapshot-schedule-cron: "{{ rke2_server_etcd_snapshot_schedule }}"
etcd-snapshot-retention: {{ rke2_server_etcd_snapshot_retention }}

{% if rke2_server_etcd_args | length > 0 %}

etcd-arg:
{% for _item_rke2_server_etcd_arg in rke2_server_etcd_args %}
  - {{ _item_rke2_server_etcd_arg }}
{% endfor %}
{% endif %}

{% if rke2_server_expose_metrics | bool %}

etcd-expose-metrics: true

kube-controller-manager-arg:
  - bind-address=0.0.0.0

kube-scheduler-arg:
  - bind-address=0.0.0.0

kube-proxy-arg:
  - metrics-bind-address=0.0.0.0

{% endif %}

write-kubeconfig-mode: "0600"
