{{ ansible_managed | comment }}

KUBECONFIG="{{ inventory_kube_cli_controller_kubeconfig }}"
export KUBECONFIG

case ":${PATH}:" in
    *":{{ inventory_kube_cli_controller_bin_dir }}:"*) ;;
    *) PATH="{{ inventory_kube_cli_controller_bin_dir }}:${PATH}" ; export PATH ;;
esac

case $- in
    *i*)
        alias {{ inventory_kube_cli_controller_alias }}=kubectl
        if [ -r "{{ inventory_kube_cli_controller_config_dir }}/kubectl-completion.bash" ]; then
            . "{{ inventory_kube_cli_controller_config_dir }}/kubectl-completion.bash"
            complete -o default -F __start_kubectl {{ inventory_kube_cli_controller_alias }}
        fi
        ;;
    *) ;;
esac
