{{ ansible_managed | comment }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: openbao
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openbao-seal
  namespace: openbao
data:
  seal.hcl: |

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openbao
  namespace: openbao
spec:
  interval: 30m
  timeout: 15m
  driftDetection:
    mode: warn
  chart:
    spec:
      chart: openbao
      version: 0.29.2
      sourceRef:
        kind: HelmRepository
        name: gitlab-charts
        namespace: flux-system
  install:
    remediation:
      retries: 2
  upgrade:
    remediation:
      retries: 2
  values:
    global:
      enabled: true
      tlsDisable: true
    injector:
      enabled: false
    server:
      image:
        registry: quay.io
        repository: openbao/openbao
        tag: 2.6.2
      updateStrategyType: RollingUpdate
      standalone:
        enabled: true
        config: |
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "raft" {
            path = "/openbao/data"
            node_id = "openbao-0"
          }

          api_addr = "https://bao.{{ gitops_source_cluster_domain }}"
          cluster_addr = "http://openbao-0.openbao-internal:8201"
      ha:
        enabled: false
      dataStorage:
        enabled: true
        size: 8Gi
        storageClass: longhorn
        accessMode: ReadWriteOnce
      auditStorage:
        enabled: true
        size: 4Gi
        storageClass: longhorn
      extraVolumes:
        - type: configMap
          name: openbao-seal
          path: /openbao/userconfig
      extraArgs: >-
        -config=/openbao/userconfig/openbao-seal/seal.hcl
      nodeSelector:
        node-role.kubernetes.io/worker: "true"
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 512Mi
      readinessProbe:
        enabled: true
        path: /v1/sys/health?standbyok=true&sealedcode=204&uninitcode=204
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - host: bao.{{ gitops_source_cluster_domain }}
        tls:
          - secretName: openbao-tls
            hosts:
              - bao.{{ gitops_source_cluster_domain }}
        annotations:
          cert-manager.io/cluster-issuer: k8s-ca
    ui:
      enabled: true
      serviceType: ClusterIP
