{{ ansible_managed | comment }}
---
services:
  gitlab:
    image: {{ inventory_gitlab_container_image }}
    container_name: {{ inventory_gitlab_container_name }}
    restart: unless-stopped

    hostname: {{ inventory_gitlab_external_hostname }}

    stop_grace_period: 5m

    shm_size: '{{ inventory_gitlab_shm_size }}'

    env_file:
      - {{ inventory_gitlab_compose_dir }}/gitlab.env

    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ inventory_gitlab_external_url }}'
{% if inventory_gitlab_registry_enabled | bool %}
        registry_external_url '{{ inventory_gitlab_registry_external_url }}'
        gitlab_rails['registry_enabled'] = true
{% else %}
        gitlab_rails['registry_enabled'] = false
{% endif %}

        letsencrypt['enable'] = {{ inventory_gitlab_letsencrypt_enabled | bool | lower }}
        nginx['ssl_certificate'] = "/etc/gitlab/ssl/{{ inventory_gitlab_external_hostname }}.crt"
        nginx['ssl_certificate_key'] = "/etc/gitlab/ssl/{{ inventory_gitlab_external_hostname }}.key"
{% if inventory_gitlab_registry_enabled | bool %}
        registry_nginx['ssl_certificate'] = "/etc/gitlab/ssl/{{ inventory_gitlab_registry_hostname }}.crt"
        registry_nginx['ssl_certificate_key'] = "/etc/gitlab/ssl/{{ inventory_gitlab_registry_hostname }}.key"
{% endif %}

        nginx['redirect_http_to_https'] = false
        nginx['listen_port'] = 443
        nginx['listen_https'] = true

        gitlab_rails['gitlab_shell_ssh_port'] = {{ inventory_gitlab_ssh_port }}

        gitlab_rails['gitlab_email_enabled'] = false

        puma['worker_processes'] = {{ inventory_gitlab_puma_worker_processes }}
        sidekiq['concurrency'] = {{ inventory_gitlab_sidekiq_concurrency }}
        prometheus_monitoring['enable'] = {{ inventory_gitlab_monitoring_enabled | bool | lower }}
        gitlab_rails['monitoring_whitelist'] = {{ inventory_gitlab_monitoring_allowed_networks | to_json }}
        gitlab_kas['enable'] = {{ inventory_gitlab_kas_enabled | bool | lower }}
        gitlab_rails['env'] = { 'MALLOC_CONF' => 'dirty_decay_ms:1000,muzzy_decay_ms:1000' }
        gitlab_rails['packages_enabled'] = {{ inventory_gitlab_package_registry_enabled | bool | lower }}

        gitlab_rails['backup_path'] = '/var/opt/gitlab/backups'
{% if inventory_gitlab_oidc_enabled | bool %}

        gitlab_rails['omniauth_enabled'] = true
        gitlab_rails['omniauth_allow_single_sign_on'] = ['openid_connect']
        gitlab_rails['omniauth_block_auto_created_users'] = {{ inventory_gitlab_oidc_block_auto_created_users | bool | lower }}

        gitlab_rails['omniauth_auto_link_user'] = ['openid_connect']
{% if inventory_gitlab_oidc_auto_sign_in | bool %}
        gitlab_rails['omniauth_auto_sign_in_with_provider'] = 'openid_connect'
{% endif %}
        gitlab_rails['omniauth_providers'] = [
          {
            name: 'openid_connect',
            label: '{{ inventory_gitlab_oidc_label }}',
            args: {
              name: 'openid_connect',
              scope: ['openid', 'profile', 'email'],

              response_type: 'code',
              issuer: '{{ inventory_gitlab_oidc_issuer }}',
              discovery: true,
              client_auth_method: 'basic',
              uid_field: 'preferred_username',

              pkce: true,
              client_options: {
                identifier: '{{ inventory_gitlab_oidc_client_id }}',
                secret: '{{ inventory_gitlab_oidc_client_secret }}',
                redirect_uri: '{{ inventory_gitlab_external_url }}/users/auth/openid_connect/callback'
              }
            }
          }
        ]
        gitlab_rails['omniauth_sync_profile_from_provider'] = ['openid_connect']
        gitlab_rails['omniauth_sync_profile_attributes'] = ['email']

{% endif %}

    ports:
      - "{{ inventory_gitlab_https_port }}:443"
      - "{{ inventory_gitlab_ssh_port }}:22"

    volumes:
      - {{ inventory_gitlab_data_root }}/config:/etc/gitlab
      - {{ inventory_gitlab_data_root }}/logs:/var/log/gitlab
      - {{ inventory_gitlab_data_root }}/data:/var/opt/gitlab
      - {{ inventory_gitlab_ssl_source_dir }}:/etc/gitlab/ssl:ro
