{{ ansible_managed | comment }}

services:
  freeipa-server:
    image: {{ inventory_freeipa_server_container_image }}
    container_name: {{ inventory_freeipa_server_container_name }}
    restart: unless-stopped

    stop_grace_period: 5m
    read_only: true
    network_mode: host
    cgroup: host
    tmpfs:
      - /run
      - /tmp
    volumes:
      - {{ inventory_freeipa_server_data_dir }}:/data:Z
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    environment:
      IPA_SERVER_HOSTNAME: {{ inventory_freeipa_server_hostname }}
      IPA_SERVER_IP: {{ inventory_freeipa_server_ip_address }}

    command:
      - "ipa-server-install"
{% for _item_freeipa_server_option in (_var_freeipa_server_install_opts | trim).split() %}
      - "{{ _item_freeipa_server_option }}"
{% endfor %}
      - "--ds-password=${FREEIPA_DIR_MANAGER_PASSWORD:?FREEIPA_DIR_MANAGER_PASSWORD is required}"
      - "--admin-password=${FREEIPA_ADMIN_PASSWORD:?FREEIPA_ADMIN_PASSWORD is required}"
