{{ ansible_managed | comment }}

FREEIPA_ADMIN_PASSWORD={{ inventory_freeipa_server_admin_password | replace('$', '$$') }}
FREEIPA_DIR_MANAGER_PASSWORD={{ inventory_freeipa_server_directory_manager_password | replace('$', '$$') }}
