{{ ansible_managed | comment }}








---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: longhorn-auth
  namespace: longhorn-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: openbao
    kind: ClusterSecretStore
  target:
    name: longhorn-auth
  data:
    - secretKey: client-secret
      remoteRef:
        key: oidc-longhorn
        property: client-secret
    - secretKey: cookie-secret
      remoteRef:
        key: oidc-longhorn
        property: cookie-secret
