{{ ansible_managed | comment }}

no-resolv

domain-needed

{% if split_dns_upstream_servers | length > 0 %}

{% for _item_split_dns_server in split_dns_upstream_servers %}
server={{ _item_split_dns_server }}
{% endfor %}
{% endif %}

{% if split_dns_forward_zones | length > 0 %}

{% for _item_split_dns_zone in split_dns_forward_zones %}
server=/{{ _item_split_dns_zone['domain'] }}/{{ _item_split_dns_zone['server'] }}
{% endfor %}
{% endif %}

{% for _item_split_dns_address in split_dns_listen_addresses %}
listen-address={{ _item_split_dns_address }}
{% endfor %}
bind-interfaces

cache-size={{ split_dns_cache_size }}
