{{ ansible_managed | comment }}

no-resolv

domain-needed

{% for _item_split_dns_server in inventory_split_dns_upstream_servers %}
server={{ _item_split_dns_server }}
{% endfor %}

{% for _item_split_dns_zone in inventory_split_dns_forward_zones %}
server=/{{ _item_split_dns_zone['domain'] }}/{{ _item_split_dns_zone['server'] }}
{% endfor %}

{% for _item_split_dns_address in inventory_split_dns_listen_addresses %}
listen-address={{ _item_split_dns_address }}
{% endfor %}
bind-interfaces

cache-size={{ inventory_split_dns_cache_size }}
