{{ ansible_managed | comment }}

token: {{ inventory_rke2_agent_token }}

server: https://{{ inventory_rke2_agent_server_address }}:{{ inventory_rke2_agent_supervisor_port }}

node-ip: {{ inventory_rke2_agent_node_ip }}

data-dir: {{ inventory_rke2_agent_data_dir }}

disable-default-registry-endpoint: true

{% if inventory_rke2_agent_expose_metrics | bool %}

kube-proxy-arg:
  - metrics-bind-address=0.0.0.0
{% endif %}
