{{ ansible_managed | comment }}

{% if inventory_kube_cli_node_kubeconfig | length > 0 %}

if [ -r "{{ inventory_kube_cli_node_kubeconfig }}" ]; then
    KUBECONFIG="{{ inventory_kube_cli_node_kubeconfig }}"
    export KUBECONFIG
fi
{% endif %}

case $- in
    *i*)
        alias {{ inventory_kube_cli_node_alias }}=kubectl
        if [ -r /etc/bash_completion.d/kubectl ]; then
            . /etc/bash_completion.d/kubectl
            complete -o default -F __start_kubectl {{ inventory_kube_cli_node_alias }}
        fi
        ;;
    *) ;;
esac
