{{ ansible_managed | comment }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: gitlab-charts
  namespace: flux-system
spec:
  type: oci
  url: oci://{{ gitops_source_registry_host }}/{{ gitops_source_charts_repo }}
  interval: 1h
  secretRef:
    name: gitlab-registry
  certSecretRef:
    name: gitlab-registry-ca
