{{ ansible_managed | comment }}

---
apiVersion: v1
kind: List
items:
{% for _item_gitops_bootstrap_key in _var_gitops_bootstrap_sealing_keys %}
  - apiVersion: v1
    kind: Secret
    type: {{ _item_gitops_bootstrap_key['type'] }}
    metadata:
      name: {{ _item_gitops_bootstrap_key['metadata']['name'] }}
      namespace: {{ _item_gitops_bootstrap_key['metadata']['namespace'] }}
      labels:
{% for _item_gitops_bootstrap_label, _item_gitops_bootstrap_value in _item_gitops_bootstrap_key['metadata']['labels'].items() %}
        {{ _item_gitops_bootstrap_label }}: {{ _item_gitops_bootstrap_value }}
{% endfor %}
    data:
{% for _item_gitops_bootstrap_field, _item_gitops_bootstrap_value in _item_gitops_bootstrap_key['data'].items() %}
      {{ _item_gitops_bootstrap_field }}: {{ _item_gitops_bootstrap_value }}
{% endfor %}
{% endfor %}
