network:
  version: 2
  ethernets:
    {{ base_host_split_dns_interface }}:
      nameservers:
        addresses:
        {% for _item_base_host_server in base_host_split_dns_servers %}
          - {{ _item_base_host_server }}
        {% endfor %}
        search:
        {% for _item_base_host_domain in base_host_split_dns_domains %}
          - {{ _item_base_host_domain }}
        {% endfor %}
